<app-navbar></app-navbar>

<mat-card>
  <mat-card-header fxLayoutAlign="center center">
    <mat-card-title>Suscripciones</mat-card-title>
    <mat-card-title>Tu suscripcion actual es </mat-card-title>
  </mat-card-header>

  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <!-- Suscripcion Basica -->
    <a [routerLink]="['/catalog-teachers']">
      <div class="content">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Suscripcion Básica</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="./../assets/images/catalogoProfesores.jpeg"
            height="250"
          />
          <mat-card-content>
            <p>
              Al seleccionar esta suscripcion, estaras de acuerdo pagar la cuota
              de 50 pesos mensuales
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Ir</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </a>

    <!-- Suscripcion Oro -->
    <a [routerLink]="['/catalog-teachers']">
      <div class="content">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Suscripcion Oro</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="./../assets/images/catalogoProfesores.jpeg"
            height="250"
          />
          <mat-card-content>
            <p>
              Al seleccionar esta suscripcion, estaras de acuerdo pagar la cuota
              de 150 pesos mensuales
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Ir</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </a>

    <!-- Suscripcion Platino -->
    <a [routerLink]="['/counselings']">
      <div class="content">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Suscripcion Platino</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="./../assets/images/verAsesorias.jpeg"
            height="270"
          />
          <mat-card-content>
            <p>
              Al seleccionar esta suscripcion, estaras de acuerdo pagar la cuota
              de 250 pesos mensuales
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Ir</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </a>
  </div>
</mat-card>
