<app-navbar></app-navbar>

<mat-card>
  <mat-card-header fxLayoutAlign="center center">
    <mat-card-title>Hola usuario!</mat-card-title>
  </mat-card-header>

  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="content">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Agendar asesoría</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/images/agendarAsesoria.png"
         height="250">
        <mat-card-content>
          <p>
            En esta seccion el usuario podra seleccionar una hora, materia y profesor,
              con el cual se agendara.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ir</button>
        </mat-card-actions>
        </mat-card>
    </div>
  
    <div class="content">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Catalogo de profesores</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/images/catalogoProfesores.jpeg" 
          height="250">
        <mat-card-content>
          <p>
            En esta seccion podra ver la calificacion de los porfesores que otros usuarios le hallan puesto que serian
            estrellas y reseña.  
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ir</button>
        </mat-card-actions>
      </mat-card>
    </div>
  
    <div class="content">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Ver asesoría</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/images/verAsesorias.jpeg" 
          height="270">
        <mat-card-content>
          <p>
            En esta seccion podra ver las asesorias que halla tomado, las que tiene proximo
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Ir</button>
        </mat-card-actions>
      </mat-card>
  </div>
  </div>
  
</mat-card>
