<mat-menu #menuOpcion="matMenu">
  <button mat-menu-item>Configuracion</button>
  <button mat-menu-item>Cerrar sesion</button>
</mat-menu>

<mat-toolbar class="navbar-color">
  <Span class="text-color">Logo pendiente DashBoard</Span>
  <div class="spacer">

  </div>
  <div class="text-color"> 
    <a mat-button><mat-icon>home</mat-icon></a>
  <a mat-button><mat-icon>notifications</mat-icon></a>
  <button mat-button [matMenuTriggerFor]="menuOpcion">
      <mat-icon>account_circle</mat-icon>
        Usuario
      <mat-icon>
        expand_more
      </mat-icon>
  </button>

  </div>
</mat-toolbar>