<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <h2>Registro</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <mat-form-field fxLayoutAlgn="stretch" fxLayout="column">
        <div class="form-group">
          <input matInput type="text" placeholder="email" formControlName="email">
        </div>
      </mat-form-field>

      <mat-form-field fxLayoutAlgn="stretch" fxLayout="column">
        <input matInput type="text" placeholder="name" formControlName="firstName">
      </mat-form-field>

      <mat-form-field fxLayoutAlgn="stretch" fxLayout="column">
        <input matInput type="text" placeholder="surname" formControlName="LastName">
      </mat-form-field>

      <mat-form-field fxLayoutAlgn="stretch" fxLayout="column">
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>

      <mat-form-field fxLayoutAlgn="stretch" fxLayout="column">
          <input matInput type="password" placeholder="Repite tu contraseña" formControlName="confirmPassword">
      </mat-form-field>

      <div class="form-group">
        <button mat-raised-button [disabled]=registerForm.invalid class="btn btn-primary">Registro</button>
        <a routerLink="/login" class="btn btn-link">Login</a>
      </div>
    </form>

  </mat-card>
</div>
